<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../../partials/head %>
  </head>
  <body>
    <% include ../../partials/header %>
    <main>
      <h1>Order Detail</h1>
      <table class="table">
        <tr>
          <th class="align-left">Name</th>
          <td>
            <%= order.id %>
          </td>
        </tr>
        <tr>
          <th class="align-left">User ID</th>
          <td>
            <%= order.userId %>
          </td>
        </tr>
      </table>

      <h2>Items</h2>
      <table class="table">
        <thead>
          <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Description</td>
            <td>Quantity</td>
            <td>Actions</td>
          </tr>
        </thead>
        <tbody>
          <% items.forEach(function(item) { %>
          <tr>
            <td>
              <%= item.id %>
            </td>
            <td>
              <%= item.name %>
            </td>
            <td>
              <%= item.description %>
            </td>
            <td>
              <%= item.quantity %>
            </td>
            <td>
              <a href="<%= '/items/' + item.id %>">View</a>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </main>
    <% include ../../partials/footer %>
  </body>
</html>
